<div>
  draft works!

  <div *ngIf="players.length === 0">
    The draft is over! Please go to the <a routerLink="/rosters">rosters</a> page
  </div>

  <ul class="players">
    <li *ngFor="let player of players">
      <span class="player">{{player.id}}</span> {{player.name}}
      <select (change)="onSelect($event.target.value)" [(ngModel)]="selectedTeam.id">
        <option *ngFor="let team of teams" value= {{team.id}}>
          {{team.name}}
        </option>
      </select>
    </li>
  </ul>
</div>
